$black: #1d1d1d;
$white: #ffffff;
$text: #6D6D6D;
$accent1: #FF7B31;
$accent1-Bold: #EB671D;
$accent2: #447777;
$accent2-lite: #88B7B7;
$pasive: #FFC177;
$grey: #D7D7D7;
$grey-accent: #6D6D6D;


%openSans-400 {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}
%openSans-600 {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
}
%openSans-700 {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}
%openSans-800 {
  font-family: 'OpenSans-ExtraBold';
  font-weight: 800;
}
%interMedium-500 {
  font-family: 'Inter-Medium';
  font-weight: 500;
}

 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
  &::first-letter {
    text-transform: uppercase;
  }
 }